In [ ]:
#Q1. List any five functions of the pandas library with execution.
"""
1.read_csv: This function reads data from a CSV file and returns a DataFrame object.
2.head: This function returns the first n rows of a DataFrame object.
3.groupby: This function groups data in a DataFrame object based on one or more columns and applies a specified function to each group.
4.merge: This function combines two DataFrame objects into a single DataFrame based on a common column or index.
5.Categorical: shows the counts of unique categories
"""

In [16]:
#Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 
#    1 and increments by 2 for each row.

import pandas as pd

def reindex_df(df):

    new_index = pd.RangeIndex(start=1, stop=len(df)*2, step=2) 
    new_df = df.set_index(new_index)
    return new_df

df=pd.DataFrame({"A":[1,2,3],"B":[4,5,6],"C":[7,8,9]})

reindex_df(df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

In [32]:
#Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of 
#    the first three values in the 'Values' column. The function should print the sum to the console.For example, if the 'Values' column of df 
#    contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

import pandas as pd

df=pd.DataFrame({'Values':[10, 20, 30, 40, 50]})

s=sum(list(df["Values"][0:3]))

print("The sum of first 3 values is",s)

The sum of first 3 values is 60

In [37]:
#Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words 
#    in each row of the 'Text' column.index

import pandas as pd

df = pd.DataFrame({'Text': ['This is a sample text', 'Another example text', 'A third sentence']})


def count_words(text):
    return text.count(" ")+1

df['Word_Count'] = df['Text'].apply(count_words)

print(df)

                    Text  Word_Count
0  This is a sample text           5
1   Another example text           3
2       A third sentence           3

In [ ]:
#Q5. How are DataFrame.size() and DataFrame.shape() different?
"""
DataFrame.size() returns the total number of elements in the DataFrame. In other words, it returns the product of the number of rows and the number
of columns in the DataFrame. This method does not take any arguments.

DataFrame.shape() returns a tuple representing the dimensions of the DataFrame. The first element of the tuple is the number of rows, and the second
element is the number of columns. This method does not take any arguments.
"""

In [ ]:
#Q6. Which function of pandas do we use to read an excel file?
"""
pd.read_excel() is use read an excel file in pandas
"""

In [42]:
#Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a
#    Python function that creates a new column 'Username' in df that contains only the username part of each email address.The username is the part 
#    of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column 
#    should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

import pandas as pd

df = pd.DataFrame({'Email': ['john.doe@example.com', 'saisubhamjena@gmail.com', 'pwskills@yahoo.com']})

def sep_un(text):
    return text.split("@")[0]

df["Username"]=df["Email"].apply(sep_un)

print(df)

                     Email       Username
0     john.doe@example.com       john.doe
1  saisubhamjena@gmail.com  saisubhamjena
2       pwskills@yahoo.com       pwskills

In [47]:
#Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is 
#    greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.
#    For example, if df contains the following values:
#      A B C
#    0 3 5 1
#    1 8 2 7
#    2 6 9 4
#    3 2 3 5
#    4 9 1 2
#    Your function should select the following rows: 
#      A B C
#    1 8 2 7
#    2 6 9 4
#    4 9 1 2
#   The function should return a new DataFrame that contains only the selected rows.


import pandas as pd

df=pd.DataFrame({"A":[3,8,6,2,9],"B":[5,2,9,3,1],"C":[1,7,4,5,2]})

def selected_row(df):
    return df[(df["A"]>5) & (df["B"]<10)]

selected_row(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [ ]:
#Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,median, and standard deviation of the values 
#    in the 'Values' column.

import pandas as pd

def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    
    return mean, median, std_dev

In [48]:
#Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that 
#     contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a 
#     window of size 7 and should include the current day.

import pandas as pd

def moving_avg(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

In [67]:
#Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday'
#     column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
#     For example, if df contains the following values:
#         Date
#     0 2023-01-01
#     1 2023-01-02
#     2 2023-01-03
#     3 2023-01-04
#     4 2023-01-05
#    Your function should create the following DataFrame:
#        Date Weekday
#     0 2023-01-01 Sunday
#     1 2023-01-02 Monday
#     2 2023-01-03 Tuesday
#     3 2023-01-04 Wednesday
#     4 2023-01-05 Thursday
#    The function should return the modified DataFrame.

import pandas as pd

df = pd.DataFrame({'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']}) 

df['Date']=pd.to_datetime(df['Date'])
df['Weekday'] = df['Date'].dt.day_name()

print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [ ]:
#Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between
#     '2023-01-01' and '2023-01-31'.

import pandas as pd

def select_date_range(df):
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')
    
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    return df.loc[mask]

In [ ]:
#Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

"""
The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself.
import pandas as pd
"""