In [10]:
#Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

#Q1. Write a code to print the data present in the second row of the dataframe, df.

df.iloc[1:2,0:2]

        course_name  duration
1  Machine Learning         3

In [ ]:
#Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
"""
loc: it takes only named location.
    Ex: df.loc(0:2,['course_name','duration'])
    
iloc: its take only integer location.
    Ex: df.iloc[1:2,0:2]
"""

In [20]:
#Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable,new_df then find the output for both new_df.loc[2]
#    and new_df.iloc[2]. Did you observe any difference in both the outputs? If so then explain it.

new_df=df.reindex([3,0,1,2])
print(new_df)

print(new_df.loc[2])
print(new_df.iloc[2])
"""
Yes there is a difference in both the outputs.
As, loc takes only named location so, in loc[2] row of index name 2 is returned as output.
As, iloc take only integer location so, in iloc[2] row of index number is returned as output.
"""

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [37]:
# Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)


#Q4. Write a code to find the following statistical measurements for the above dataframe df1:
#   (i) mean of each and every column present in the dataframe.
#   (ii) standard deviation of column, ‘column_2’

print("mean of each and every column present in the dataframe")
print(df1.mean())

print("standard deviation of column, ‘column_2’")
print(df1['column_2'].std())

mean of each and every column present in the dataframe
column_1    0.357582
column_2    0.590278
column_3    0.610360
column_4    0.436788
column_5    0.411067
column_6    0.726313
dtype: float64
standard deviation of column, ‘column_2’
0.312358886912097

In [47]:
#Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
# If you are getting errors in executing it then explain why. [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

df1.loc[0:6,'column_2']=["a","b","c","d","e","f"]

df1.loc[0:6,'column_2'].mean()

"""
Here we would get an error because mean is calculated over numerical data not on characters.
"""

In [ ]:
#Q6. What do you understand about the windows function in pandas and list the types of windows functions?
"""
In pandas, the window function is a way of performing a rolling computation on a time series or other ordered data. It allows you to define a window 
of a certain size and apply a function to the data within that window.

There are several types of window functions that can be used in pandas, including:

1. Rolling Window Functions: These functions apply a function to a sliding window of fixed size along a time series or other ordered data.
   Examples include rolling_mean(), rolling_sum(), and rolling_std().
   
2. Expanding Window Functions: These functions apply a function to all of the data up to a given point in time. 
   Examples include expanding_mean(), expanding_sum(), and expanding_std().
   
3. Exponential Weighted Moving Average (EWMA) Window Functions: These functions apply a weighted average to the data using an exponentially decreasing
   weight for each observation. Examples include ewma() and ewmstd().

4. rolling Window Aggregations: These functions aggregate the data within a rolling window without returning a time series. 
   Examples include rolling_max(), rolling_min(), and rolling_quantile().

5. Time-based Window Functions: These functions allow you to define windows based on time intervals, rather than a fixed number of observations. 
   Examples include resample() and rolling().resample().
"""

In [54]:
#Q7. Write a code to print only the current month and year at the time of answering this question. [Hint: Use pandas.datetime function]

import pandas as pd

now = pd.datetime.now()
print("Current month and year:", now.strftime("%B %Y"))

Current month and year: March 2023

/tmp/ipykernel_1254/1378645879.py:5: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  now = pd.datetime.now()

In [60]:
#Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and
#    minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

import pandas as pd

date1=pd.to_datetime('2023-03-29')
date2=pd.to_datetime('2023-01-28')

dif=date2-date1
pd.Timedelta(dif)

Timedelta('-60 days +00:00:00')

In [68]:
#Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program 
#    should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

import pandas as pd

file_path = input("Enter file path: ")
column_name = input("Enter column name to convert to category: ")
category_order = input("Enter category order, separated by commas: ").split(',')

df = pd.read_csv(file_path)
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
df = df.sort_values(by=column_name)

print(df)

Enter file path:  taxonomy.csv
Enter column name to convert to category:  parent_name
Enter category order, separated by commas:  Decending

    taxonomy_id                          name parent_id parent_name
0           101                     Emergency       NaN         NaN
1        101-01             Disaster Response       101         NaN
2        101-02                Emergency Cash       101         NaN
3     101-02-01             Help Pay for Food    101-02         NaN
4     101-02-02       Help Pay for Healthcare    101-02         NaN
..          ...                           ...       ...         ...
285   111-01-07              Workplace Rights    111-01         NaN
286      111-02                     Mediation       111         NaN
287      111-03                        Notary       111         NaN
288      111-04                Representation       111         NaN
289      111-05  Translation & Interpretation       111         NaN

[290 rows x 4 columns]

In [72]:
#Q10. WrDataFramea Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart
#     to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

import pandas as pd

file_path = input("Enter file path: ")

df = pd.read_csv(file_path)

grouped_data = df.groupby(['Product Category', 'Year'])['Sales'].sum().unstack()

grouped_data.plot(kind='bar', stacked=True)

In [84]:
#Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV
#     file, calculates the mean, median, and mode of the test scores, and displays the results in a table.
#    The program should do the followingM
#     *Prompt the user to enter the file path of the CSV file containing the student dataR
#     *Read the CSV file into a Pandas DataFrameR
#     *Calculate the mean, median, and mode of the test scores using Pandas toolsR
#     *Display the mean, median, and mode in a table.
#    Assume the CSV file contains the following columnsM
#     *Student ID: The ID of the studentR
#     *Test Score: The score of the student's test.

import pandas as pd
data=pd.DataFrame({'Student ID':[1,2,3,4,5,6,7,8,9,10],'Test Score':[85,90,80,75,85,82,78,85,90,85]})
data.to_csv('Students_data.csv',index=False)

file_path = input("Enter file path: ")

df = pd.read_csv(file_path)

mean=df['Test Score'].mean()
median=df['Test Score'].median()
mode=df['Test Score'].mode()[0]

df_table=pd.DataFrame({'Statistics':['Mean','Median','Mode'],'Value':[mean,median,mode]})

df_table)

Enter file path:  Students_data.csv

  Statistics  Value
0       Mean   83.5
1     Median   85.0
2       Mode   85.0